@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
  }
  

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    /* max-width: 1400px;
    margin: auto; */
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
    /* max-width: 1400px;
    margin: auto; */
}

.photographer_section article, .photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 64px;
}

.photographer_section article img, .photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    object-fit: cover;
}

.photographer-location {
    font-size: 13px;
    color: #901C1C;
}

.photograph-header .photographer-location {
    font-size: 24px;
}

.photographer-tagline {
    font-size: 10px;
}

.photograph-header .photographer-tagline {
    font-size: 18px;
}

.photographer-price {
    font-size: 9px;
    color: #757575;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.secondary_informations {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 36px;

    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 376px;
    height: 70px;
}

.secondary_informations .photographer-price {
    font-size: 24px;
    font-weight: 500;
    color: black;
}