@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* traite la pixelisation des images */
img {
    overflow-clip-margin: unset;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
}

.photographer_section article,
.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img,
.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    object-fit: cover;
}

.photographer-location {
    font-weight: normal;
    font-size: 13px;
    color: #901C1C;
}

.photograph-header .photographer-location {
    font-size: 24px;
}

.photograph-header .photographer-tagline {
    font-size: 18px;
}

.photographer-price {
    font-size: 11px;
    color: #757575;
}